@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-horizontal">
    <h4>Delete function currently unavailable due to key restraints in the DB</h4>
    <hr />
</div>
