@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"] the Team</h1>

<p>This website and application was developed by a small team of students from RMIT University as part of their final capstone project for the Bachelor of Information Technology degree.</p>

<div class="row remove-flex">
    <div class="card-deck text-center">
        <div class="card">
            <img class="card-img-top" src="~/images/placeholder_photo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Michael Tamasauskas</h5>
                <p class="card-text">Scrum Master & Frontend Developer</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/placeholder_photo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Thomas Kauran</h5>
                <p class="card-text">Lead Developer</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/placeholder_photo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Craig Ryan</h5>
                <p class="card-text">Devops & Backend Developer</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/placeholder_photo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wade Stephenson</h5>
                <p class="card-text">Lead Frontend Designer & Developer</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/placeholder_photo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">John Jairo Caicedo Gomez</h5>
                <p class="card-text">Assistant Developer</p>
            </div>
        </div>
    </div>
</div>
