@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    
    <div class="container">
        <h1 class="display-3">Hello World!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula lorem ut nibh ultrices convallis. Sed sed augue lacinia neque semper euismod. Integer id ligula posuere, cursus ipsum at, gravida augue. 
        Nullam porttitor faucibus lacus, at auctor enim. Vestibulum commodo, augue eget imperdiet pulvinar, lectus magna sollicitudin eros, quis tempus ipsum eros sit amet felis. Integer nec vehicula quam. Integer nec egestas 
        lectus. Morbi hendrerit sed nisl sed lacinia. Vivamus et blandit enim, sed tempus sapien. Duis vestibulum mauris eleifend elementum laoreet. Maecenas sagittis magna in vulputate commodo. Proin quis imperdiet purus, 
        a lacinia erat. Integer volutpat leo non nisi fermentum, eget ultrices turpis dignissim. </p>
        <p>
           <a class="btn btn-primary btn-lg" href="#" role="button">Test</a>
        </p>
    </div>
</div>
