@{
    ViewData["Title"] = "Home Page";
}
<!-- Start of "jumbotron" container. Contains brief description of Jobspot/goals/mission statement, a image, and a sign up/in button-->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello World!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula lorem ut nibh ultrices convallis. Sed sed augue lacinia neque semper euismod. Integer id ligula posuere, cursus ipsum at, gravida augue.
            Nullam porttitor faucibus lacus, at auctor enim. Vestibulum commodo, augue eget imperdiet pulvinar, lectus magna sollicitudin eros, quis tempus ipsum eros sit amet felis. Integer nec vehicula quam. Integer nec egestas
            lectus. Morbi hendrerit sed nisl sed lacinia. Vivamus et blandit enim, sed tempus sapien. Duis vestibulum mauris eleifend elementum laoreet. Maecenas sagittis magna in vulputate commodo. Proin quis imperdiet purus,
            a lacinia erat. Integer volutpat leo non nisi fermentum, eget ultrices turpis dignissim.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Test</a>
        </p>
    </div>
</div>
<!-- Start of description container. Contains a brief description saying what JobSpot functionally does-->
<div class="container-fluid">
    <div class="row introduction text-center">
        <div class="col-12">
            <h1 class="display-4">What it does</h1>
        </div>
        <hr />
        <div class="col-12">
            <p class="lead">Jobspot can </p>
        </div>
    </div>
</div>
<!-- Start of three column Feature container. Details the features of Jobspot briefly-->
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-search"></i>
            <h3>Search through multiple websites</h3>
            <p>Pull job listings from multiple services such as Seek, Career One, GumTree Jobs and more! </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-pen-alt"></i>
            <h3>Scheduled Updates</h3>
            <p>Customise your own scheduled e-mail updates on job listings fitting your criteria.</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <i class="fas fa-star"></i>
            <h3>Save your Favourites</h3>
            <p>Want to save a listing? Pin results and keep them for later user. </p>
        </div>
    </div>
</div>
