<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Dashboard</title>
    <!-- Adds ProximNova Adobe Font-->
    <link rel="stylesheet" href="https://use.typekit.net/png3jwr.css">
    <!-- Bootstrap and custom CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <!-- Adds icon set kit for use across website-->
    <script src="https://kit.fontawesome.com/11aafdac8b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar top-nav sticky-top flex-md-nowrap p-0">
        <a class="navbr-brandmr-0" href="#"><img class="logo" src="images/logo.svg" alt="jobSpot logo">JobSpot - Dashboard</a>
    </nav>

    @RenderBody()

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar">
                    <ul class="nav flex-column">
                        <li class="nav-divider"></li>
                        <li>
                            <a class="btn btn-block" href="#"><i class="fab fa-searchengin fa-lg"></i>Search</a>
                        </li>
                        <li>
                            <a class="btn btn-block" href="#"><i class="far fa-clock fa-lg"></i>Scheduling</a>
                        </li>
                        <li>
                            <a class="btn btn-block" href="#"><i class="fas fa-bookmark fa-lg"></i>Favourites</a>
                        </li>
                        <li>
                            <a class="btn btn-block" href="#"><i class="far fa-user-circle fa-lg"></i>Manage Account</a>
                        </li>
                    </ul>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-divider"></li>
                        <li>
                            <a class="btn btn-block" href="#"><i class="far fa-question-circle fa-lg"></i>Help</a>
                        </li>
                        <li>
                            <a class="btn btn-block" href="#"><i class="fas fa-sign-out-alt fa-lg"></i>Sign Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
                <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h1">Search</h1>
                    <form>
                        <label>Keywords</label>
                        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
                        <label>Location</label>
                        <input class="form-control form-control-dark" type="text" placeholder="Location" aria-label="Location">
                        <input class="form-control form-control-dark w-100" type="text" placeholder="Salary" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                    <p class="search-results padding">[##] results for "query".</p>
                    <div class="container-fluid result">
                        <div class="row">
                            <h2 class="h2 col-8">Job Result</h2>
                            <button type="button" class="btn col-4 btn-primary"><i class="fas fa-bookmark fa-lg"></i></button>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in suscipit purus. Vestibulum erat leo, gravida blandit tortor eu, luctus consectetur eros. Cras at ipsum quis libero sodales volutpat eu a diam. Praesent quam orci, luctus vitae arcu a, lobortis mollis nisl. Integer libero est, tristique id blandit et, tristique at ex. Donec et risus at arcu posuere consectetur vitae facilisis quam. Aenean elit purus, porta sit amet mauris quis, ultrices lobortis elit. Suspendisse lorem felis, convallis et eleifend vel, rhoncus ut orci. Phasellus eget mollis felis. Cras pretium mi a est eleifend, vitae imperdiet magna porttitor. Nunc eu pharetra purus. Ut sed arcu gravida, porta erat ut, efficitur erat. Nam et dignissim tortor. Integer tortor velit, mollis at molestie vitae, dapibus id erat. Vivamus et lectus euismod, euismod diam et, lacinia odio. </p>
                        <div class="row">
                            <button type="button" class="btn btn-primary">Go To Listing</button>
                        </div>
                    </div>
                    <div class="container-fluid result">
                        <div class="row">
                            <h2 class="h2 col-8">Job Result</h2>
                            <button type="button" class="btn col-4 btn-primary">+</button>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in suscipit purus. Vestibulum erat leo, gravida blandit tortor eu, luctus consectetur eros. Cras at ipsum quis libero sodales volutpat eu a diam. Praesent quam orci, luctus vitae arcu a, lobortis mollis nisl. Integer libero est, tristique id blandit et, tristique at ex. Donec et risus at arcu posuere consectetur vitae facilisis quam. Aenean elit purus, porta sit amet mauris quis, ultrices lobortis elit. Suspendisse lorem felis, convallis et eleifend vel, rhoncus ut orci. Phasellus eget mollis felis. Cras pretium mi a est eleifend, vitae imperdiet magna porttitor. Nunc eu pharetra purus. Ut sed arcu gravida, porta erat ut, efficitur erat. Nam et dignissim tortor. Integer tortor velit, mollis at molestie vitae, dapibus id erat. Vivamus et lectus euismod, euismod diam et, lacinia odio. </p>
                        <div class="row">
                            <button type="button" class="btn btn-primary">Go To Listing</button>
                        </div>
                    </div>
                    <div class="container-fluid result">
                        <div class="row">
                            <h2 class="h2 col-8">Job Result</h2>
                            <button type="button" class="btn col-4 btn-primary">+</button>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in suscipit purus. Vestibulum erat leo, gravida blandit tortor eu, luctus consectetur eros. Cras at ipsum quis libero sodales volutpat eu a diam. Praesent quam orci, luctus vitae arcu a, lobortis mollis nisl. Integer libero est, tristique id blandit et, tristique at ex. Donec et risus at arcu posuere consectetur vitae facilisis quam. Aenean elit purus, porta sit amet mauris quis, ultrices lobortis elit. Suspendisse lorem felis, convallis et eleifend vel, rhoncus ut orci. Phasellus eget mollis felis. Cras pretium mi a est eleifend, vitae imperdiet magna porttitor. Nunc eu pharetra purus. Ut sed arcu gravida, porta erat ut, efficitur erat. Nam et dignissim tortor. Integer tortor velit, mollis at molestie vitae, dapibus id erat. Vivamus et lectus euismod, euismod diam et, lacinia odio. </p>
                        <div class="row">
                            <button type="button" class="btn btn-primary">Go To Listing</button>
                        </div>
                    </div>
                    <!-- Loading Spinner -->
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </main>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>
