@using System.Web.Mvc.Ajax
@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		InsertionMode = InsertionMode.Replace,
		UpdateTargetId = "partial-view-loader"
	};
}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Dashboard</title>
	<!-- Adds ProximNova Adobe Font-->
	<link rel="stylesheet" href="https://use.typekit.net/png3jwr.css">
	<!-- Bootstrap and custom CSS-->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/dashboard.css" />
	<!-- Adds icon set kit for use across website-->
	<script src="https://kit.fontawesome.com/11aafdac8b.js" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar top-nav sticky-top flex-md-nowrap p-0">
		<a class="navbr-brandmr-0" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/logo.svg" alt="jobSpot logo">JobSpot - Dashboard</a>
        <span style="color:white; margin-right:20px">Hello @User.Identity.Name!</span>
	</nav>

	@RenderBody()

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed">
				<div class="sidebar">
					<ul class="nav flex-column">
						<li class="nav-divider"></li>
						<li>
							<a id="JobSearch" asp-controller="Dashboard" asp-action="Index" class="btn btn-block"><i class="fab fa-searchengin fa-lg"></i><span>Search</span></a>
						</li>
						<li>
							<a id="Scheduler" asp-controller="Dashboard" asp-action="ScheduleJobSearch" class="btn btn-block"><i class="far fa-clock fa-lg"></i><span>Scheduling</span></a>
						</li>
						<li>
							<a class="btn btn-block" asp-controller="Dashboard" asp-action="JobResults"><i class="fas fa-bookmark fa-lg"></i><span>My Jobs</span></a>
						</li>
						<li>
							<a class="btn btn-block" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="far fa-user-circle fa-lg"></i><span>Manage Account</span></a>
						</li>
					</ul>
					<ul class="nav flex-column mb-2">
						<li class="nav-divider"></li>
						<li>
							<a class="btn btn-block" href="#"><i class="far fa-question-circle fa-lg"></i><span>Help</span></a>
						</li>
                        <li>
                            <form class="btn btn-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit"><i class="fas fa-sign-out-alt fa-lg"></i><span>Sign Out</span></button>
                            </form>
                        </li>
					</ul>
				</div>
			</nav>
			<main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
				<div id="partial-view-loader" class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">
					@if (ViewData["DisplayScheduleForm"] != null)
					{
						<partial name="_ScheduleJobForm" />
					}
					else if (ViewData["DisplayJobSearchResults"] != null)
					{
						<partial name="_JobResultsLayout" />
					}
					else
					{
						<partial name="_SearchFormLayout" />
					}
				</div>
				<!-- Loading Spinner Demo -->
				<div id="pageloader" class="lds-ellipsis">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</main>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>
