
<div class="card col-12">
    <h5 class="card-header">Job Result Title</h5>

    <div class="card-body">
        <h5 class="card-title salary">$50,000 pa</h5>
        <p class="card-text">Web developers design and build websites. They are typically responsible for the appearance, of the site and technical aspects, such as site speed and how much traffic the site can handle. Web developers may also create site content that requires technical features.</p>
        <a href="#" class="btn btn-primary text-right"><i class="fas fa-bookmark fa-lg"></i>Add to Favourites</a> <a href="#" class="btn btn-primary text-right">Go to Listing</a>
    </div>
</div>

<!-- Loading Spinner Demo -->
<div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>